@page
@model RazorPlayground.Identity.Areas.Identity.Pages.SignInModel
@{
}

<div class="container">
    <div class="jumbotron">
      <div class="form-group">
            <input type="text" placeholder="Kullanıcı Adı" class="form-control" />
      </div>
      <div class="form-group">
            <input type="password" placeholder="Şifre" class="form-control" />
      </div>
      <button type="submit" class="btn btn-danger">Giriş</button>
    </div>
</div>